# محیط مجازی
venv/
env/
*.venv/

# فایل‌های pycache
__pycache__/
*.py[cod]
*$py.class

# دیتابیس sqlite
*.sqlite3

# فایل‌های لاگ
*.log

# Django stuff
db.sqlite3
/staticfiles/
/media/

# فایل‌های تنظیمات PyCharm
.idea/

# فایل‌های حساس یا محلی
.env